@import './colors.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5% }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($colors, secondary);
}

a		 { text-decoration: none }
ul	 { list-style: none }